{% load static %}

{% load custom_tags %}

<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-white border-b">
    <div class="mx-auto px-4 sm:px-4 lg:px-4">
        <div class="relative flex h-12 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button type="button"
                    class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                    aria-controls="mobile-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>

                    <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>

                    <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">
                    <img class="block h-8 w-auto lg:hidden" src="{% static 'images/CoatofArms_Lg.png' %}"
                        alt="One Health Detects">
                    <img class="hidden h-8 w-auto lg:block" src="{% static 'images/CoatofArms_Lg.png' %}"
                        alt="One Health Detects">

                    <div class="px-2 text-sm font-bold text-center text-gray-700 md:text-sm">One Health Platform
                    </div>
                </div>
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        {% with request.resolver_match.url_name as url_name %}
                        <div class="pt-3 pb-2 {% if url_name == 'dashboard' %} border-b-4 border-green-700 {% endif %}">
                            <a href="{% url 'dashboard' %}"
                                class="p-2 my-3 hover:bg-green-100 hover:rounded-md hover:text-green-900 text-sm font-medium"
                                aria-current="page">
                                Dashboard
                            </a>
                        </div>

                        {% if perms.ems.view_signal %}
                            <div class="pt-3 pb-2 {% if url_name == 'rumors' %} border-b-4 border-green-700 {% endif %}">
                                <a href="{% url 'rumors' %}"
                                    class="p-2 my-3 hover:bg-green-100 hover:rounded-md hover:text-green-900 text-sm font-medium">
                                    Rumors
                                </a>
                            </div>
                        {% endif %}

                        {% if perms.ems.view_event %}
                            <div class="pt-3 pb-2 {% if url_name == 'events' %} border-b-4 border-green-700 {% endif %}">
                                <a href="{% url 'events' %}"
                                    class="p-2 my-3 hover:bg-green-100 hover:rounded-md hover:text-green-900 text-sm font-medium">
                                    Alerts
                                </a>
                            </div>
                        {% endif %}

                        {% if perms.notification.view_notification  %}
                            <div class="pt-3 pb-2 {% if url_name == 'messages' %} border-b-4 border-green-700 {% endif %}">
                                <a href="{% url 'messages' %}"
                                    class="p-2 my-3 hover:bg-green-100 hover:rounded-md hover:text-green-900 text-sm font-medium">
                                    Notifications
                                    {% if request.user|show_notification > 0 %}
                                        <span class="rounded-lg bg-red-500 text-xs text-white font-normal px-1">{{ request.user|show_notification }}</span>
                                    {% endif %}
                                </a>
                            </div>
                        {% endif %}

                        <div class="pt-3 pb-2">
                            <a href="#"
                                class="p-2 my-3 hover:bg-green-100 hover:rounded-md hover:text-green-900 text-sm font-medium">
                                Reports
                            </a>
                        </div>

                        {% if perms.auth.view_user  %}
                            <div class="pt-3 pb-2 {% if url_name == 'list-users' %} border-b-4 border-green-700 {% endif %}">
                                <a href="{% url 'list-users' %}"
                                    class="p-2 my-3 hover:bg-green-100 hover:rounded-md hover:text-green-900 text-sm font-medium">
                                    Manage Users
                                </a>
                            </div>
                        {% endif %}

                        {% endwith %}

                        {% if perms.ems.add_event %}
                            <div class="pt-3 pb-2 ">
                                <a href="{% url 'create-event' %}"
                                    class="p-2 rounded-sm text-white bg-green-700 hover:bg-green-900 text-xs font-medium">
                                    <i class='bx bx-plus'></i> Create Alert
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <!-- <div class="my-auto mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                        <path
                            d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
                    </svg>
                </div> -->

                <div class="my-auto mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                            clip-rule="evenodd" />
                    </svg>
                </div>

                <!-- Profile dropdown -->
                <div class="relative ml-3">
                    <div>
                        <button @click="showProfile = !showProfile" type="button"
                            class="flex items-center focus:outline-none mr-3" id="user-menu-button"
                            aria-expanded="false" aria-haspopup="true">
                            <!-- <img class="w-8 h-8 rounded-full mr-4" src="" alt="Renfrid"> -->
                            <span class="hidden md:inline-block text-sm">Hi, {{ user.first_name }}
                            </span>
                            <svg class="pl-2 h-2" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink"
                                enable-background="new 0 0 129 129">
                                <g>
                                    <path
                                        d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" />
                                </g>
                            </svg>
                        </button>
                    </div>

                    
                    <!--
                    Dropdown menu, show/hide based on menu state.

                    Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                    Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                    -->
                    <div x-show="showProfile" @click.outside="showProfile = false" x-transition 
                        class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                        role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                        <!-- Active: "bg-gray-100", Not Active: "" -->
                        <a href="{% url 'profile' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1"
                            id="user-menu-item-0">My Profile</a>
                        <a href="{% url 'change-password' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1"
                            id="user-menu-item-1">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem"
                            tabindex="-1" id="user-menu-item-2">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pt-2 pb-3">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="{% url 'dashboard' %}"
                class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
                aria-current="page">Dashboard</a>

            <a href="{% url 'signals' %}"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">
                Rumor
            </a>

            <a href="{% url 'events' %}"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">
                Alerts
            </a>

            <a href="{% url 'messages' %}"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">
                Messages
            </a>

            <a href="{% url 'reports' %}"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">
                Reports
            </a>
        </div>
    </div>
</nav>

<script>

    function getHeader() {
        return {
            showProfile:    false,

        }
    }

</script>