*/migrations/*
*/migrations/*.*
*/*/migrations/*
gitignore
!*/migrations/__init__.py
.env
keywords.json
.env
.gitignore
!*/migrations/__init__.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
