{% load static %}
{% block header%}
<header id="page-topbar">
    <div class="navbar-header border-bottom">
        <div class="d-flex row ml-5">
            
            <div class="row ms-2 mt-4">
                <h4 href="#">
                    One Health EOC
                </h4>
            </div>

            <div class="d-flex n_links">
                <div {% if opt == 1 %} class="active" {% endif %}><a> Overview </a></div>
                <div {% if opt == 2 %} class="active" {% endif %}><a href="x" >List </a></div>
                <div {% if opt == 3 %} class="active" {% endif %}><a href=""> Board </a></div>
                <div {% if opt == 4 %} class="active" {% endif %}><a href=""> Timeline </a></div>
                <div {% if opt == 5 %} class="active" {% endif %}><a href=""> Calendar </a></div>
                <div {% if opt == 6 %} class="active" {% endif %}><a href=""> Dashboard </a></div>
                <div {% if opt == 7 %} class="active" {% endif %}><a href=""> Messages </a></div>
                <div {% if opt == 7 %} class="active" {% endif %}><a href=""> Files </a></div>
            </div>
        </div>

        <div class="d-flex">

            <div class="dropdown d-inline-block d-lg-none ms-2">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-magnify"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                    aria-labelledby="page-header-search-dropdown">

                    <form class="p-3">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search ..."
                                    aria-label="Recipient's username">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"><i
                                            class="mdi mdi-magnify"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            

            <div class="dropdown d-none d-lg-inline-block ms-1">
                <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                    <i class="bx bx-fullscreen"></i>
                </button>
            </div>
            
            <div class="dropdown d-inline-block mt-3">
                <button class="btn btn-danger rounded-circle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                    + 
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>


            <div class="dropdown d-inline-block m-3">
                <img class="rounded-circle header-profile-user" src="{% static 'images/users/avatar-1.jpg'%}" alt="Header Avatar" data-bs-toggle="dropdown">
                
                <div class="dropdown-menu dropdown-menu-end">
                    
                    <a class="dropdown-item" href="#"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span
                        key="t-profile">Profile</span></a>
                    <a class="dropdown-item d-block" href="#"><span class="badge bg-success float-end">11</span><i class="bx bx-wrench font-size-16 align-middle me-1"></i> <span
                        key="t-settings">Settings</span></a>
                    <div class="dropdown-divider"></div>
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href=""><i class="bx bx-key font-size-16 align-middle me-1"></i> Change Password</a>
                        <a class="dropdown-item" href=""><i class="bx bx-lock-open font-size-16 align-middle me-1"></i> <span key="t-lock-screen">Lock screen</span></a>
                        <a class="dropdown-item text-danger" href=""><i class="bx bx-log-out font-size-16 align-middle me-1 text-danger"></i>Log Out</a>
                    {% else %}
                        <a class="dropdown-item " href=""><i class="bx bx-log-in font-size-16 align-middle me-1 "></i> Log In</a>
                    {% endif %}
                    </div>

            </div>



        </div>
    </div>

</header>
{% endblock %}

