{% load static %}

{% block javascript %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/popper/popper.min.js' %}"></script>
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap-5/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'libs/slimselect/js/slimselect.min.js' %}"></script>
    <script src="{% static 'libs/sweetalert2/sweetalert2.min.js' %}"></script>

    <!-- bootstrap datepicker -->
    <script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

    <!--tinymce js-->
    <script src="{% static 'libs/tinymce/tinymce.min.js' %}"></script>



    <!-- App js -->
    <script src="{% static 'libs/offcanvas.js'%}"></script>
    <script src="{% static 'js/app.js'%}"></script>
{% endblock %}

