{% load static %}
{% block javascript %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap-5/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>

        <!-- apexcharts -->
        <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>

        <!-- dashboard init -->
        <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'js/app.js' %}"></script>
{% endblock %}