{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% load filters %}

{% block contents %}



<div class="px-10 mt-5 flex w-full  space-x-2">
    <div class=" flex w-full justify-between">
        <div class="flex space-x-3 text-sm text-gray-500">
            <p class=""> Alert </p>
            <p> / </p>
            <p class=""> {{ event.alert.reference }} - {{ event.alert.label}} </p>
            <p> / </p>
            <p class=""> {{ event.id}} </p>
        </div>
        <div class="flex space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 hover:bg-gray-100" viewBox="0 0 20 20" fill="currentColor" @click="sidebarOpen = false">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
        </div>
    </div>
</div>


<div class="flex h-full overflow-hidden px-10" x-init="setEvent({{event.id}}); fetchWF();" defer>
    <div class="w-7/12 h-full overflow-y-auto">    
        <div class="h-full overflow-y-auto" @scroll="sideScrolled = ($el.scrollTop > 5 ? false : true)">
            
            <p class="text-2xl font-semibold" x-text="cur_event.title"></p>
            <div class="flex space-x-3">
                <p class="text-xs text-gray-400" x-text="cur_event.location"></p>
                <p class="text-xs text-gray-400" x-text="cur_event.sectors"></p>
            </div>
            <div class="flex space-x-2 my-5 text-sm">
                <button class="bg-gray-100 p-1 rounded-sm hover:bg-gray-300" @click="$refs.attachment.click()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13" />
                    </svg>
                </button>
                <button class="bg-gray-100 p-1 rounded-sm hover:bg-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                        <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                    </svg>
                </button>


                <template  x-for="(wf, index) in workflow" :key="index">
                    <template x-if="wf.cur_stage==cur_event.stage_id">
                        <button class="bg-gray-100 p-1 rounded-sm hover:bg-gray-300 px-3" @click="wfModal(wf)" x-text="wf.label"></button>
                    </template>
                </template>

            </div>

            

            <input type="file" x-ref="attachment" class="hidden" name="attachment" id="attachment" @change="uploadFile()">

            <p class="text-sm font-semibold mt-5 mb-3 ">Description:</p>
            <p class="text-xs line-clamp-3" x-text="cur_event.description"></p>

            <p class="text-sm font-semibold mt-5 mb-3">Activities</p>
            <div class="flex space-x-2 text-xs">
                <p class="py-1">Show : </p>
                <button class="bg-gray-100 p-0 rounded-sm hover:bg-gray-300 px-3" :class="{ 'bg-gray-300': showAll }" @click="hideAllActivities(); showAll = true;">All</button>
                <button class="bg-gray-100 p-0 rounded-sm hover:bg-gray-300 px-3" :class="{ 'bg-gray-300': showAttachments }" @click="hideAllActivities(); showAttachments = true;">Attachments</button>
                <button class="bg-gray-100 p-0 rounded-sm hover:bg-gray-300 px-3" :class="{ 'bg-gray-300': showData }" @click="hideAllActivities();showData=true;">Data</button>
            </div>


            <div x-show="showAttachments|showAll ">
                <p class="text-sm font-semibold mt-5 mb-3">Attachments</p>
                <div class="">
                    <template x-for="(f, index) in eventFiles" :key="index">
                        <div class="flex justify-between py-1 text-xs border-b">
                            <div class="flex space-x-2">
                                <i class="text-md" :class="f.css_icon"></i>
                                <p class="" x-text="f.file_name"></p>
                            </div>
                            <div class="flex space-x-2">

                                <p class="" x-text="f.created_on"></p>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400 hover:text-red-900" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                                </svg>
                                <a :href="f.url" download>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400 hover:text-emerald-900" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" /> 
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </template>
                    <svg x-show="file_uploading" role="status" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-emerald-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                    </svg>
                </div>
            </div>

            <div x-show="showData|showAll ">
                <p class="text-sm font-semibold mt-5 mb-3">Data</p>
                <div class="space-y-4">
                    <template x-for="(edata, index) in eventData" :key="index">
                        <div class="text-xs grid grid-flow-col auto-cols-max gap-4">
                            <p class="" x-text="edata.stage"></p>
                            <div class="">
                                <template x-for="[label,value] in Object.entries(edata.data)">
                                    <div class="grid grid-cols-2 gap-2">
                                        <p class="font-bold" x-text="label.replaceAll('_',' ')"></p>
                                        <p class="flex-1" x-text="value"></p>
                                    </div>
                                </template>
                            </div>
                            <p class="" x-text="edata.name"></p>
                            <p class="" x-text="edata.created_at"></p>
                        </div>  
                    </template>
                </div>

            </div>

            
        </div>
    </div>
    <div class="w-5/12 h-full flex flex-col overflow-y-hidden ml-5">
        
        <div class="">
            <p class="text-sm font-semibold mt-5 mb-3">Notes</p>



            <div class="flex space-x-2 text-xs mb-3">
                <p class="py-1">Show : </p>
                <button class="bg-gray-100 p-0 rounded-sm hover:bg-gray-300 px-3" :class="{ 'bg-gray-300': uNotes=='ALL' }" @click="uNotes = 'ALL';">All</button>
                <button class="bg-gray-100 p-0 rounded-sm hover:bg-gray-300 px-3" :class="{ 'bg-gray-300': uNotes=='x' }" @click="uNotes = 'x';">Comments</button>
                <button class="bg-gray-100 p-0 rounded-sm hover:bg-gray-300 px-3" :class="{ 'bg-gray-300': uNotes=='SA' }" @click="uNotes='SA';">Worklog</button>
                <button class="bg-gray-100 p-0 rounded-sm hover:bg-gray-300 px-3" :class="{ 'bg-gray-300':  }" @click="showData=true;">Data</button>
            </div>


            <div class="flex flex-col mb-5 space-y-5">
                <div class="flex text-xs">
                    <p class="mr-5 bg-red-500 rounded-full h-10 px-3 pt-3 text-white">{{user.first_name|upper|make_list|first}}{{user.last_name|upper|make_list|first}}</p>
                    <div class="flex-1">
                        <textarea x-model="new_note" rows="3" class="block p-2.5 w-full text-sm rounded-sm text-gray-900 border border-gray-300 focus:ring-gray-400 focus:border-gray-400" placeholder="Your message..."></textarea>
                        <div class="flex space-x-2 mt-2">
                            <button class="bg-emerald-500 hover:bg-emerald-300 px-3 py-1 rounded-sm" :disabled="note_uploading" @click="addNote()">Save</button>
                            <button class="bg-gray-100 hover:bg-gray-300 px-3 py-1 rounded-sm">Cancel</button>
                        </div>
                    </div>
                </div>

                <template x-for="(note, index) in eventNotes" :key="index">
                    <div class="flex text-xs" x-show="uNotes=='ALL'|uNotes==note.initials" >
                        <p class="mr-5 bg-red-500 rounded-full h-10 px-3 pt-3 text-white" x-text="note.initials"></p>
                        <ul class="flex-1">
                            <li class="" x-text="note.name"></li>
                            <li class="" x-text="note.message"></li>
                            <li class="text-xs text-gray-500" x-text="note.created_on"></li>
                        </ul>
                    </div>  
                </template>


            </div>
        </div>

    </div>
</div>




  <!--Overlay-->
<div class="overflow-auto" style="background-color: rgba(0,0,0,0.5)" x-show="showModal" :class="{ 'absolute inset-0 z-10 flex items-center justify-center': showModal }">
    <!--Dialog-->
    <div    class="bg-white w-9/12 lg:w-6/12  mx-auto rounded shadow-lg py-4 text-left px-6" 
            x-show="showModal" 
            @click.away="showModal = false" 
            x-transition:enter="ease-out duration-300" 
            x-transition:enter-start="opacity-0 scale-90" 
            x-transition:enter-end="opacity-100 scale-100" >

        <!--Title-->
        <div class="flex justify-between items-center pb-3">
            <p class="text-2xl font-bold" x-text="cur_workflow.label"></p>
            <div class="cursor-pointer z-50" @click="showModal = false">
                <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                </svg>
            </div>
        </div>

        <!-- content -->
        <svg x-show="loadingWfModal" role="status" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-emerald-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>

        <div x-ref="worfklow_data" x-html="wf_data"></div>




    </div>
    <!--/Dialog -->
</div><!-- /Overlay -->


{% endblock %}



{% block get_contents %}

<script src="{% static 'libs/popper/popper.min.js' %}"></script>
<link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
<script src="{% static 'libs/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>

<script>

    function getContents() {
        return {
            search:         "",
            searchEvent:    "",
            sidebarOpen:    false,
            signals:        [],
            events:         [],

            eventsInProgress:   false,
            eventsDiscarded:    false,
            eventsNew:          false,
            eventStatus:        false,
            alertRef:           false,
            
            activeEvent:    -1,
            showModal:      false,
            eModal:         "setEvent",
            addLinkWrp:     false,
            file_uploading: false,
            link_uploading: false,
            note_uploading: false,
            getting_notes:  false,
            getting_files:  false,
            getting_data:   false,
            new_note:       "",
            eventNotes:     [],
            eventData:      [],
            eventFiles:     [],
            workflow:       [],
            sideScrolled:   true,

            
            showModal:      false,
            loadingWfModal: false,
            wf_data:        '',

            showAttachments:    false,
            showNotes:          false,
            showAll:            true,
            showData:           false,

            uNotes:             'ALL',

            cur_workflow: {
                id              : "",
                cur_stage       : "",
                next_stage      : "",
                label           : "",
                form_id         : "",
            },


            eventFormEl: {
                label:     "Add Event",
                loading:    false,
                message:    "",
            },

            cur_signal: {
                id              : "",
                channel         : "", 
                contact         : "",
                contents        : "",
                relevance       : "",
                status          : "",
                created_on      : "",
            },

            new_event: {
                location        : "",
                title           : "",
                contact_name    : "",
                description     : "",
                sector          : "",
                contact_prof    : "",
                contact_phone   : "",
                contact_email   : "",
                signal          : "",
                stage           : "",
                status          : "",
            },

            cur_event: {
                 id              : "{{ event.id }}",
                alert_ref       : "{{ event.alert.reference }}",
                alert_label     : "{{ event.alert.label }}",
                alert_desc      : "{{ event.alert.title }}",
                title           : "{{ event.title }}",
                status          : "{{ event.status }}",
                stage           : "{{ event.stage.title }}",
                stage_id        : "{{ event.stage.id }}",
                description     : "{{ event.description }}",
                location        : "{{ event.location.title }}",
                sectors         : "{% for e in event.sector.all %}{{ e.title }},{% endfor %}",
                status          : "{{ event.status }}",
                created_on      : "{{ event.created_on }}",
                files           : [
                    {% for file in event.files.all %}
                    {
                        url         : "{{file.obj.url}}",
                        css_icon    : "{{file.css_icon}}",
                        filename    : "{{file.filename}}",
                        created_on  : "{{file.created_at}}",
                    },
                    {% endfor %}
                ],
            }, 


            new_link: {
                title           : "",
                url             : "",
                event_id        : "",
            },

            new_attachment: {
                event_id        : "",
                url             : "",    
            },

            

            setSignal(e){
                this.cur_signal = e;
                this.new_event.signal = e.id;
            },

            uploadFile(){

                console.log('uploading file');
                this.file_uploading     = true;
                let formData    = new FormData();
                let event_id    = this.cur_event.id
                let afile       = this.$refs.attachment.files[0];      
                    
                formData.append("obj", afile);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                formData.append("event_id", event_id);

                var url         = window.location.origin + '/ems/utils/uf'

                fetch(url, {
                    method: 'POST',
                    body: formData,
                    credentials : 'same-origin',
                })
                .then(res => res.json())
                .then(data => {
                    console.log('upload done');

                    // insert into place
                    //this.file_uploading     = true;

                    tmp = {
                        'css_icon': 'mdi mdi-file text-emerald-500 ',
                        'filename':     '{{user.first_name}} {{user.last_name}}',
                        'created_on': 'Just now',
                    }

                    this.eventFiles.unshift(tmp)
                    console.log('adding file done');
                    this.file_uploading     = false;
                
                })
                .catch(() => {
                    
                    alert('upload error')
                    console.log('upload error')
                    //this.file_uploading     = true;
                })
                .finally(() => {
                    this.file_uploading     = false;
                })

                /*
                const reader = new FileReader()
                if (afile.length < 1) {
                    return
                }
                reader.readAsDataURL(afile)
                reader.onload = () => (this.imageUrl = reader.result)*/
            },

            addNote(){

                console.log('adding note');
                this.note_uploading = true;
                var url             = window.location.origin + '/ems/utils/an';

                let formData    = new FormData();
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                formData.append("event_id", this.cur_event.id);
                formData.append("message", this.new_note);

                fetch(url, {
                    method: 'POST',
                    body: formData,
                    credentials : 'same-origin',
                })
                .then(res => res.json())
                .then(data => {
                    tmp = {
                        'initials': '{{user.first_name|upper|make_list|first}}{{user.last_name|upper|make_list|first}}',
                        'name':     '{{user.first_name}} {{user.last_name}}',
                        'message':  this.new_note,
                        'created_on': 'Just now',
                    }
                    this.eventNotes.unshift(tmp)
                    console.log('adding note done');
                    this.new_note   = "";
                    this.note_uploading     = false;


                })
                .catch(() => {
                    
                    console.log('upload error')
                    //this.file_uploading     = true;
                })
                .finally(() => {
                    this.note_uploading     = false;
                    
                })

            },

            addLink(){

                console.log('adding file');
                this.link_uploading = true;

                var url         = window.location.origin + '/ems/utils/al?eid='+this.cur_event.id+'&url='+this.new_link.url+'&title='+this.new_link.event_id.title

                fetch(url, {
                    method: 'GET',
                })
                .then(res => res.json())
                .then(data => {
                    console.log('Add link done');
                    //this.file_uploading     = true;
                
                })
                .catch(() => {
                    console.log('add link error')
                    //this.file_uploading     = true;
                })
                .finally(() => {
                    this.addLinkWrp     = false;
                    this.link_uploading = false;
                })

                /*
                const reader = new FileReader()
                if (afile.length < 1) {
                    return
                }
                reader.readAsDataURL(afile)
                reader.onload = () => (this.imageUrl = reader.result)*/
            },

            setEvent(eid){
                    // get Notesconsole.log('adding file');
                    this.fetchEventNotes(eid);
                    this.fetchEventFiles(eid);
                    this.fetchEventData(eid);
            },


            get filteredWorkflow(){

            },



            fetchEventFiles(eid){
                            
                this.getting_files = true;

                var url         = window.location.origin + '/ems/utils/gf?eid='+eid;

                fetch(url, {
                    method: 'GET',
                })
                .then(res => res.json())
                .then(data => {
                    console.log('getting files done');
                    //this.file_uploading     = true;
                    this.eventFiles = data;
                    console.log(this.eventFiles);
                
                })
                .catch(() => {
                    console.log('add files error')
                    //this.file_uploading     = true;
                })
                .finally(() => {
                    this.getting_files = false;
                })
            },

            fetchEventNotes(eid){
                
                this.getting_notes = true;

                var url         = window.location.origin + '/ems/utils/gn?eid='+eid;

                fetch(url, {
                    method: 'GET',
                })
                .then(res => res.json())
                .then(data => {
                    console.log('getting notes done');
                    //this.file_uploading     = true;
                    this.eventNotes = data;
                    console.log(this.eventNotes);
                
                })
                .catch(() => {
                    console.log('add link error')
                    //this.file_uploading     = true;
                })
                .finally(() => {
                    this.getting_notes = false;
                })
            },

            fetchEventData(eid){
                
                this.getting_data = true;

                var url         = window.location.origin + '/ems/utils/ged?eid='+eid;

                fetch(url, {
                    method: 'GET',
                })
                .then(res => res.json())
                .then(data => {
                    console.log('getting Data done');
                    //this.file_uploading     = true;
                    this.eventData = data;
                    console.log(this.eventNotes);
                
                })
                .catch(() => {
                    console.log('add link error')
                    //this.file_uploading     = true;
                })
                .finally(() => {
                    this.getting_data = false;
                })
            },



            fetchWF(){
                this.workflow = [
                    {% for workflow in workflows %}
                        {
                            id              : "{{ workflow.id }}",
                            cur_stage       : "{{ workflow.cur_stage.id }}",
                            next_stage      : "{{ workflow.next_stage.id }}",
                            label           : "{{ workflow.label}}",
                            form_id         : "{{ workflow.next_stage.form.id}}",
                        },
                    {% endfor %}
                ]
            },

            openAddEvent(){
                this.eModal='setEvent'
                this.showModal = true       
            },

            addEvent(){

                // set values
                const selected  = document.querySelectorAll('#sectors option:checked');
                const values    = Array.from(selected).map(el => el.value);

                this.new_event.location = this.$refs.location.value
                this.new_event.sector   = values


                var data = new FormData();
                data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                Object.entries(this.new_event).forEach(([key, value]) => {
                    data.append(key,value)
                });

                this.eventFormEl.label      = 'Submitting...'
                this.eventFormEl.loading    = true;
                this.eventFormEl.message    = ''

                var url     = window.location.origin + '/ems/utils/ae'


                fetch(url, {
                    method: 'POST',
                    body: data,
                    credentials : 'same-origin',
                })
                .then(res => res.json())
                .then(data => {
                    this.eventFormEl.message = 'Form sucessfully submitted!';
                    this.eventFormEl.loading = false;
                    this.eventFormEl.label = 'Add Event';

                    Object.keys(this.new_event).forEach(key => {
                        this.new_event[key] = "";
                    });

                    this.$refs.location.value = "";

                    const elements  = document.querySelectorAll('#sectors').options;
                    for(var i = 0; i < elements.length; i++){
                      elements[i].selected = false;
                    }

                    this.showModal =false;
                
                })
                .catch(() => {
                    this.eventFormEl.message = 'Ooops! Something went wrong!';
                    this.eventFormEl.loading = false;
                    this.eventFormEl.label = 'Add Event';
                })
                .finally(() => {
                    //this.eventFormEl.loading = false;
                    //this.eventFormEl.Label = 'Add Event'
                })



            },

            selectFile (event) {
                const file = event.target.files[0]
                const reader = new FileReader()
                if (event.target.files.length < 1) {
                    return
                }
                reader.readAsDataURL(file)
                reader.onload = () => (this.imageUrl = reader.result)
            },

            discardEvent(e,index){

                var url     = window.location.origin + '/ems/utils/di?ii='+e.id+'&it=ev';
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        
                    })
            },

            wfModal(wf){

                this.showModal          = true;
                this.loadingWfModal     = true;

                this.cur_workflow       = wf;


                // change workflow 
                var url     = window.location.origin + '/ems/utils/cwf?ns='+this.cur_workflow.next_stage+'&ei='+this.cur_event.id+'&fi='+this.cur_workflow.form_id;

                fetch(url)
                    .then(response => response.text())
                    .then(data => {
                        this.wf_data = data;
                        this.loadingWfModal     = false;

                    })
            },  
            
            formData: {
            },

            submitEventForm() {
                console.log(this.cur_event.id+' '+JSON.stringify(this.formData)+' '+JSON.stringify(this.cur_workflow));

                // set values

                var data = new FormData();
                data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                data.append('eid',this.cur_event.id)
                data.append('fda',JSON.stringify(this.formData))
                data.append('nst',this.cur_workflow.next_stage)

                this.eventFormEl.label      = 'Submitting...'
                this.eventFormEl.loading    = true;
                this.eventFormEl.message    = ''

                var url     = window.location.origin + '/ems/utils/uwf'

                fetch(url, {
                    method: 'POST',
                    body: data,
                    credentials : 'same-origin',
                })
                .then(res => res.json())
                .then(data => {
                    this.eventFormEl.message = 'Form sucessfully submitted!';
                    this.eventFormEl.loading = false;
                    this.eventFormEl.label = 'Add Event';

                    Object.keys(this.new_event).forEach(key => {
                        this.new_event[key] = "";
                    });

                    this.$refs.location.value = "";

                    const elements  = document.querySelectorAll('#sectors').options;
                    for(var i = 0; i < elements.length; i++){
                    elements[i].selected = false;
                    }

                    this.showModal =false;

                })
                .catch(() => {
                    this.eventFormEl.message = 'Ooops! Something went wrong!';
                    this.eventFormEl.loading = false;
                    this.eventFormEl.label = 'Add Event';
                })
                .finally(() => {
                    //this.eventFormEl.loading = false;
                    //this.eventFormEl.Label = 'Add Event'
                })


                this.cur_event.stage_id = this.cur_workflow.next_stage;
                this.formData = {};
            },

            hideAllActivities(){
                this.showAttachments = false;
                this.showNotes = false;
                this.showData = false;
                this.showAll = false;
            },
        }
    }

    function initjq() {

        $(".select2").select2();
        $(".input-mask").inputmask();

        $('.get_location').select2({
            minimumInputLength: 3,
            ajax: {
            url: window.location.origin + '/ems/utils/sl',
            dataType: 'json',
            // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
            }
        });

    };


</script>
{% endblock %}