{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Reset Password {% endblock %}
{% block content %}

<section class="bg-white dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-3 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="w-24 h-24 mr-2" src="{% static 'images/CoatofArms_Lg.png' %}" alt="logo">
        </a>

        <h1 class="flex items-center mb-3 text-2xl font-semibold text-gray-800 dark:text-white">PRIME MINISTER'S OFFICE</h1>
        <h3 class="flex items-center mb-3 text-xl font-semibold text-gray-600 dark:text-white">ONE HEALTH DETECTS</h3>

        <div
            class="w-full bg-white border rounded-lg dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-medium text-center text-gray-900 md:text-2xl dark:text-white">
                    Reset Password
                </h1>
				<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                <form class="space-y-4 md:space-y-6" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} mb-4 text-center" role="alert">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}

                    <div>
                        <label for="email" class="block mb-2 text-sm font-normal text-gray-900 dark:text-white">
                            Email
                        </label>
                        <input type="text" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 textinput textInput" placeholder="Write email..." maxlength="30" required id="id_email">
                    
                    </div>

                    <button type="submit"
                        class="w-full text-white bg-green-900 hover:bg-green-700 font-medium rounded text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Send Email
                    </button>

                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Already have account? <a href="/login"
                            class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}