{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Reset Password {% endblock %}
{% block content %}

<section class="bg-gray-100">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-3 text-2xl font-semibold text-gray-900">
            <img class="w-24 h-24 mr-2" src="{% static 'images/CoatofArms_Lg.png' %}" alt="logo">
        </a>

        <h1 class="flex items-center mb-3 text-2xl font-semibold text-gray-800">PRIME MINISTER'S OFFICE</h1>
        <h3 class="flex items-center mb-3 text-xl font-semibold text-gray-600">ONE HEALTH DETECTS</h3>

        <div
            class="w-full bg-white border rounded-lg md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-2 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-medium text-center text-gray-600 md:text-xl">
                    Password Reset Confirm
                </h1>

                <form class="space-y-4 md:space-y-6" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} mb-4 text-center" role="alert">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}

                    <div>
                        {{ form.as_p }}
                    </div>

                    <button type="submit"
                        class="w-full text-white bg-slate-800 hover:bg-slate-600 font-medium rounded text-sm px-5 py-2.5 text-center">
                        Reset password
                    </button>

                    <p class="text-sm font-light text-gray-500 text-center">
                        Already have account? <a href="/auth/login"
                            class="font-medium text-primary-600 hover:underline">Login</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}