{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% load filters %}

{% block contents %}

<main class="bg-white h-full relative">
    <div class="bg-gray-100 py-2 px-4 sm:px-4 lg:px-4 flex justify-between">
        <div>
            <h1 class="text-xl py-1 font-normal text-gray-600">Reported Rumors</h1>
        </div>

        <div>
            <input
                class="h-9 w-80 py-2 bg-white text-gray-600 border border-gray-300 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-600 text-sm font-normal"
                type="text" id="myInputTextField" placeholder="Search here...">
        </div>
    </div>


    <div class="bg-white h-[calc(100%-4rem)] flex overflow-hidden relative" x-init="fetchEvents();">
        <div class="flex-1 table-responsive py-4 px-4 sm:px-4 lg:px-4 h-full overflow-hidden">
            <table id="datatable" width="100%"
                class="table border table-striped table-bordered dt-responsive compact nowrap text-sm">
            </table>
        </div>
        <div class="bg-white border-l shadow-md py-3 flex-shrink-0 w-[570px] h-full flex flex-col overflow-hidden transition-all duration-500"
            :class="{ '-mr-[570px]': !sidebarOpen }">
            <div id="detail-div" class="w-full h-full overflow-hidden pb-8"></div>
        </div>
    </div>
</main>


<script language="javascript">
    $(document).ready(function () {
        AjaxDatatableViewUtils.initialize_table(
            $('#datatable'),
            "{% url 'r_list' %}",
            {
                processing: false,
                autoWidth: false,
                full_row_select: false,
                scrollX: false,
                dom: 'rtip'
            }, {
            // extra_data
            status: 'NEW',
        });

        $('#myInputTextField').keyup(function () {
            tt = $('#datatable').DataTable();
            tt.search($(this).val()).draw()
        });
    });
</script>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>
{% endblock %}

{% block extrastyle %}
<link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet" />
<link href="http://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" />
{% endblock extrastyle %}


{% block get_contents %}
<script src="{% static 'libs/popper/popper.min.js' %}"></script>
<link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
<script src="{% static 'libs/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
<script>
    function getContents() {
        return {
            search: "",
            searchEvent: "",
            sidebarOpen: false,
            signals: [],
            events: [],
            activeSignal: -1,
            showModal: false,
            eModal: "showRumor",

            cur_signal: {
                id: "",
            },

            //sectors and alert types
            sectors: {},
            alert_types: {},

            //form data
            formData:{
                title:"",
                description: "",
                alert_id: null,
                pri_sector_id : null,
                region_id: null,
                district_id: null,
                ward_id: null,
                village_id: null,
                rumor_id: null,
            },
            formMessage: "",
            formLoading: false,
            buttonText: "Submit",
            
            //deals with location
            regions: {},
            districts: {},
            wards: {},
            villages: {},

            //manage signal
            manageRumor(id) {
                this.eModal = "showRumor";

                const all_tr = document.querySelectorAll('.odd, .even');
                all_tr.forEach(tr => {
                    tr.classList.remove('bg-emerald-100');
                });
                document.getElementById('row-' + id).classList.add("bg-emerald-100");

                var url = window.location.origin + '/ems/utils/mr?sid=' + id;
                this.cur_signal.id = id;

                fetch(url)
                    .then(response => response.text())
                    .then(data => {
                        $('#detail-div').html(data)
                    })
            },

            //get filtered events
            get filteredEvents() {
                if (this.searchEvent === "") {
                    return this.events;
                }

                return this.events.filter((item) => {
                    return item.title
                        .toLowerCase()
                        .includes(this.searchEvent.toLowerCase());
                });
            },

            //fetch events
            fetchEvents() {
                fetch('/api/alerts')
                    .then(res => res.json())
                    .then(data => {
                        this.events = data;
                    });
            },

            //attach signal to alerts
            attachSignal(e) {
                s_id = this.cur_signal.id
                e_id = e.id

                var url = window.location.origin + '/ems/utils/as?sid=' + s_id + '&eid=' + e_id;

                fetch(url)
                    .then((response) => response.json())
                    .then((json) => {
                        $('#attachEvent_wrp').html(json.success_msg)
                    })
            },

            //fetch alerts
            fetchAlertTypes(){
                fetch('/api/alert_types')
                    .then(res => res.json())
                    .then(data => {
                        this.alert_types = data;
                    });
            },

            //fetch primary sectors
            fetchSectors(){
                fetch('/api/sectors')
                    .then(res => res.json())
                    .then(data => {
                        this.sectors = data;
                    });
            },

            //fetch regions
            fetchRegions(){
                fetch('/api/regions')
                    .then(res => res.json())
                    .then(data => {
                        this.regions = data;
                    });
            },

            onRegionChange(e) {
                var selectedValue = e.target.value;

                // Reset districts
                this.districts = {};

                fetch('/api/districts/' + selectedValue)
                    .then(res => res.json())
                    .then(data => {
                        this.districts = data;
                    }); 
            },

            onDistrictChange(e) {
                var selectedValue = e.target.value;

                // Reset wards
                this.wards = {};

                fetch('/api/wards/' + selectedValue)
                    .then(res => res.json())
                    .then(data => {
                        this.wards = data;
                    }); 
            },

            onWardChange(e) {
                var selectedValue = e.target.value;

                // Reset villages
                this.villages = {};

                fetch('/api/villages/' + selectedValue)
                    .then(res => res.json())
                    .then(data => {
                        this.villages = data;
                    }); 
            },

            //submit form
            submitForm() {
                this.formMessage = "";
                this.formLoading = false;
                this.buttonText = "Submitting...";

                //token
                csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value

                //rumor id
                this.formData.rumor_id = this.cur_signal.id
                
                fetch("/ems/utils/ae", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        Accept: "application/json",
                        "X-CSRFToken": csrf_token
                    },
                    body: JSON.stringify(this.formData),
                }).then((response) => {
                    //set message
                    $('#setEvent_wrp').html("<div class='bg-green-200 text-green-900 text-sm rounded-sm p-2'>New alert created.</div>");

                    //TODO: remove the added filter in the lists

                }).catch(() => {
                    this.formMessage = "Something went wrong.";
                }).finally(() => {
                    this.formLoading = false;
                    this.buttonText = "Submit";
                });
            },
   
        }
    }

    function initjq() {
        $(".select2").select2();
        $(".input-mask").inputmask();
    };

</script>
{% endblock %}