
{% load static %}
{% load humanize %}


{% for comment in notes %}
    <div class="media py-3 border-top">
        <div class="avatar-xs me-3">
            <div class="avatar-title rounded-circle bg-light text-primary">
                <i class="bx bxs-user"></i>
            </div>
        </div>  
        <div class="media-body">
            <h5 class="font-size-14 mb-1">{{comment.created_by.fullname}} <small class="text-muted float-end">{{comment.created_at | naturaltime}}</small></h5>
            <p class="text-muted">{{comment.message}}</p>
            <div>
                <a href="javascript: void(0);" class="text-success"><i class="mdi mdi-reply"></i> Reply</a>
            </div>
        </div>
    </div>
{% endfor %}


<div class="mt-4">
    <h5 class="font-size-16 mb-3">Leave a Message</h5>

    <form>
        <div class="mb-3">
            <label for="commentmessage-input" class="form-label">Message</label>
            <textarea class="form-control" id="commentmessage-input" placeholder="Your message..." rows="3"></textarea>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-success w-sm" id="comment-submit" data-obj="lib" data-oid="{{library.id}}" data-rid="0">Submit</button>
        </div>
    </form>
</div>