{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% load filters %}

{% block contents %}

<main class="bg-white">
    <div class="bg-gray-100 py-4 px-4 sm:px-4 lg:px-4 flex justify-between">
        <div>
            <h1 class="text-xl font-medium tracking-tight text-gray-600">
                {{event.title}}
            </h1>
        </div>

        <div></div>
    </div>


    <div class="flex h-full overflow-hidden">
        <div class="w-6/12 h-full overflow-y-hidden px-5 flex">

            <div class="w-full h-full overflow-hidden my-4">
                <div class="flex flex-col  mb-4">
                    <p class="text-gray-500 text-sm font-normal">Title: </p>
                    <p class="font-normal text-gray-600 text-sm py-0">
                        {{event.title}}
                    </p>
                </div>

                <div class="flex flex-col mt-3 mb-4">
                    <p class="text-gray-500 text-sm font-normal">Description: </p>
                    <p class="font-normal text-gray-600 text-sm py-0">
                        {{event.description}}
                    </p>
                </div>

                <div class="flex justify-between mb-4">
                    <div class="flex flex-col">
                        <p class="text-gray-500 text-sm font-normal">Location: </p>
                        <p class="font-normal text-gray-600 text-sm py-0">
                            {{event.location}}
                        </p>
                    </div>

                    <div>
                        <p class="text-gray-500 text-sm font-normal">Status: </p>
                        {% if event.status == 'NEW' %}
                        <span class="bg-blue-500 text-white rounded-full px-2 py-1 text-xs font-medium">New</span>
                        {% elif event.status == 'WAITING_APPROVAL' %}
                        <span class="bg-yellow-500 text-white rounded-full px-2 py-1 text-xs font-medium">Waiting
                            Approval</span>
                        {% elif event.status == 'PROGRESS' %}
                        <span class="bg-orange-400 text-white rounded-full px-2 py-1 text-xs font-medium">On
                            Progress</span>
                        {% elif event.status == 'CONFIRMED' %}
                        <span
                            class="bg-green-600 text-white rounded-full px-2 py-1 text-xs font-medium">Confirmed</span>
                        {% elif event.status == 'DISCARDED' %}
                        <span class="bg-red-400 text-white rounded-full px-2 py-1 text-xs font-medium">Discarded</span>
                        {% endif %}
                    </div>
                </div>

                <div class="flex flex-col mb-4">
                    <p class="text-gray-500 text-sm font-normal">Alert Type: </p>
                    <p class="font-normal text-gray-600 text-sm py-0">
                        {{ event.alert.reference }} - {{ event.alert.title}}
                    </p>
                </div>

                <div class="flex justify-between mb-4">
                    <div class="flex flex-col">
                        <p class="text-gray-500 text-sm font-normal">Primary Sector: </p>
                        <p class="font-normal text-gray-600 text-sm py-0">
                            {{ event.pri_sector.title}}
                        </p>
                    </div>

                    <div class="flex flex-col">
                        <p class="text-gray-500 text-sm font-normal">Tagged Sectors: </p>
                        <p class="font-normal text-gray-600 text-sm py-0">
                            {{event.sectors}}
                        </p>
                    </div>


                </div>

                <div class="flex justify-between mb-4">
                    <div class="flex flex-col">
                        <p class="text-gray-500 text-sm font-normal">Created On: </p>
                        <p class="font-normal text-gray-600 text-sm py-0">
                            {{ event.created_on}}
                        </p>
                    </div>

                    <div>
                        <p class="text-gray-500 text-sm font-normal">Created By: </p>
                        <p class="font-normal text-gray-600 text-sm py-0">
                            {{ event.created_by.first_name}} {{ event.created_by.last_name}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-6/12 h-full overflow-hidden bg-gray-50 px-8">
            <div class="flex space-x-2 my-4">
                <button hx-get="{% url 'event-activities' event.id %}" hx-target="#parentDiv" hx-swap="innerHTML"
                    class="bg-gray-300 px-2 py-1 rounded-sm text-sm hover:bg-green-800 hover:text-white">
                    Activities
                </button>

                {% if event.status == 'NEW' %}
                <button hx-get="{% url 'initiate-event' event.id %}" hx-target="#parentDiv" hx-swap="innerHTML"
                    class="bg-gray-300 px-2 py-1 rounded-sm text-sm hover:bg-green-800 hover:text-white">
                    Request For Confirmation
                </button>
                {% endif %}

                {% if event.status == 'WAITING_APPROVAL' %}
                <button hx-get="{% url 'confirm-event' event.id %}" hx-target="#parentDiv" hx-swap="innerHTML"
                    class="bg-gray-300 px-2 py-1 rounded-sm text-sm hover:bg-green-800 hover:text-white">
                    Confirm Alert
                </button>
                {% endif %}

                {% if event.status == 'PROGRESS' %}
                <button hx-get="{% url 'report-event-progress' event.id %}" hx-target="#parentDiv" hx-swap="innerHTML"
                    class="bg-gray-300 px-2 py-1 rounded-sm text-sm hover:bg-green-800 hover:text-white">
                    Alert Progress
                </button>
                {% endif %}

                {% if event.status == 'PROGRESS' %}
                <button hx-get="{% url 'confirm-event' event.id %}" hx-target="#parentDiv" hx-swap="innerHTML"
                    class="bg-gray-300 px-2 py-1 rounded-sm text-sm hover:bg-green-800 hover:text-white">
                    Confirm Event
                </button>
                {% endif %}

                {% if event.status == 'CONFIRMED' %}
                <button class="bg-gray-300 px-2 py-1 rounded-sm text-sm hover:bg-green-800 hover:text-white">
                    Situation Reports
                </button>
                {% endif %}
            </div>

            <div class="overflow-hidden" id="parentDiv">
                <div class="overflow-y-scroll">
                    <div class="flex mb-0">
                        <h4 class="text-sm font-medium py-1 uppercase text-gray-600">Alert Activities</h4>
                    </div>

                    {% if activities.count > 0%}
                    <ul role="list" class="divide-y divide-gray-200">
                        {% for val in activities %}
                        <li class="py-3 sm:py-4">
                            <div class="flex justify-between">
                                <div class="">
                                    <p class="text-sm font-medium text-gray-700 truncate">
                                        {% if val.action == 'WAITING_APPROVAL' %}
                                        <span>Waiting Approval</span>
                                        {% elif val.action == 'PROGRESS' %}
                                        <span>On Progress</span>
                                        {% elif val.action == 'CONFIRMED' %}
                                        <span>Confirmed</span>
                                        {% endif %}
                                    </p>

                                    <p class="text-sm text-gray-500 truncate">
                                        {{ val.remarks }}
                                    </p>
                                </div>

                                <div class="">
                                    <p class="text-xs font-medium text-gray-600">
                                        {{ val.created_on|date:"d-m-Y" }}
                                    </p>

                                    <p class="text-xs  text-gray-500">
                                        {{ val.created_by.first_name }} {{ val.created_by.last_name }}
                                    </p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    No any activity
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block extrastyle %}
<link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" />
{% endblock extrastyle %}


{% block get_contents %}
<script src="{% static 'libs/popper/popper.min.js' %}"></script>
<link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
<script src="{% static 'libs/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<script>
    function getContents() { }

    function initjq() {
        $('#summernote').summernote();
        $(".select2").select2();
        $(".input-mask").inputmask();

        $('.get_location').select2({
            minimumInputLength: 3,
            ajax: {
                url: window.location.origin + '/ems/utils/sl',
                dataType: 'json',
                // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
            }
        });
    };
</script>
{% endblock %}