
{% load static %}
{% load humanize %}

<div class="e_wrp">
    <section class="p-3">
        <div class="mb-3 lead">
            {{event.description}}
        </div>
        <div class="event_meta small fw-light text-muted">
            <table>
                <tr>
                    <td style="width:190px;">Location</td>
                    <td>{{event.location.title }} </td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td><b>{{event.contact_name}}</b> {{event.contact_prof}} {{event.contact_phone }} {{event.contact_email}} </td>
                </tr>
                <tr>
                    <td>created on</td>
                    <td>{{event.created_on | naturaltime }}</td>
                </tr>
                <tr>
                    <td>Event Stage</td>
                    <td>{{event.stage}}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{event.status}}</td>
                </tr>
            </table>
        </div>

    </section>



    <section>
    {% for comment in notes %}
        <div class="media py-3 border-top">
            <div class="avatar-xs me-3">
                <div class="avatar-title rounded-circle bg-light text-primary">
                    <i class="bx bxs-user"></i>
                </div>
            </div>  
            <div class="media-body">
                <h5 class="font-size-14 mb-1">{{comment.created_by.fullname}} <small class="text-muted float-end">{{comment.created_at | naturaltime}}</small></h5>
                <p class="text-muted">{{comment.message}}</p>
                <div>
                    <a href="javascript: void(0);" class="text-success"><i class="mdi mdi-reply"></i> Reply</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </section>

    <section class="comment p-3 d-flex">
        <button class="btn btn-sm btn-danger rounded-circle dropdown-toggle" type="button" id="btn-add-item" data-toggle="dropdown" aria-expanded="true">
            <i class="bx bx-plus"></i>
        </button>
        <div class="mb-1 ms-3 flex-grow-1 rounded-border border bg-white p-1 ev-textarea_wrp">
            <textarea id="textarea" name="description" class="ev-textarea form-control1" maxlength="225" rows="1" style="width:100%" placeholder="Ask a question of post an update" oninput="auto_grow(this)" ></textarea>
        </div>
    </section>

</div>


<style>
    .event_meta td{
        padding: 5px 0px 5px 0px;
    }
    .comment{
        background-color: #f5f5f5;
        min-height: 150px;
        width: 100%;
    }
    .ev-textarea_wrp {
        max-height: 150px;
    }
    .ev-textarea {
        border: none;
        outline: none;
        resize: none;
        overflow: hidden;
        max-height: 150px;
    }
    
</style>


<script>
    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight)+"px";
    }
</script>