
{% load static %}
{% load humanize %}


<div class="table-responsive" style="height=100%">
    <table class="table align-middle table-nowrap table-hover mb-0">
        <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Date modified</th>
              <th scope="col" colspan="2">Size</th>
            </tr>
          </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td><a href="" class="text-dark fw-medium"><i class="{{file.css_icon}} font-size-16 align-middle me-2"></i> {{file.filename}}</a></td>
                <td>{{file.created_at }} - {{file.doc.type}}</td>
                <td>{{file.doc.size|filesizeformat}}</td>
                <td>
                    <div class="dropdown">
                        <a class="font-size-16 text-muted dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        
                        <div class="dropdown-menu dropdown-menu-end" style="margin:0px;">
                            <a class="dropdown-item" href="{{file.doc.url}}" download>Download</a>
                            <a class="dropdown-item" href="#">Remove</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div style="position: absolute;bottom:10px;">
    <div class="input-group">
        <input type="file" class="form-control" id="input-file" aria-describedby="btn-fileupload" aria-label="Upload" name="doc">
        <input type="hidden" name="lid" value="{{library.id}}" id="lid">
        <button class="btn btn-primary" type="button" id="btn-fileupload" data-opt="doc">Upload</button>
    </div>
</div>
