
{% load static %}
{% load humanize %}


<div class="d-flex border-bottom p-2">
    <div class="me-auto"> Title </div>
    <button type="button" class="btn btn-outline-dark btn-sm waves-effect me-1"><i class="bx bx-grid-alt"></i></button>
    <button type="button" class="btn btn-outline-dark btn-sm waves-effect me-1"><i class="bx bx-comment-dots"></i></button>
    <button type="button" class="btn btn-outline-dark btn-sm waves-effect me-1"><i class="bx bx-user-voice"></i></button>
    <button type="button" class="btn btn-outline-dark btn-sm waves-effect me-1"><i class="bx bx-station"></i></button>
    <button type="button" class="btn btn-outline-dark btn-sm waves-effect me-1"><i class="bx bx-paperclip"></i></button>

  
    
</div>

<div id="event_detail">
{{event.description}}
{{event.status}}
{{event.stage}}
</div>
