{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{heading}} | SACIDS - Admin & Dashboard Template</title>
    
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    {% include 'partials/css.html' %} 

</head>
    <body>

        <!-- Begin page -->
    <div id="pg-wrapper">

        <div class="pg-header">
            {%include 'partials/header.html'%}
        </div>
        <div class="pg-content">
            {% block contents %}{% endblock %}
        </div>
        {% include 'partials/rightsidebar.html' %}
       
    </div>

 {% block offcanvas %}{% endblock %}
 {% include 'partials/javascript.html' %}
 {% block custom_js %}{% endblock %}
 {% block script %}{% endblock %}
 </body>
 </html>
