{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% load filters %}

{% block title %} Manage Users {% endblock %}

{% block contents %}

<main class="bg-white h-full relative">
    <div class="bg-gray-100 py-2 px-4 sm:px-4 lg:px-4 flex justify-between">
        <div>
            <h1 class="py-1 text-xl font-medium tracking-tight text-gray-600">Manage Users</h1>
        </div>

        <div>
            {% if perms.auth.create_user %}
                <a href="{% url 'create-user' %}" class="text-white bg-slate-800 hover:bg-gray-600 hover:text-white font-normal text-xs rounded-sm w-full sm:w-auto px-2 py-2 text-center">
                    <i class="bx bx-user-plus"></i> Register
                </a>&nbsp;
            {% endif %}

            <a href="#" class="text-white bg-green-600 hover:bg-green-800 font-normal text-xs rounded-sm w-full sm:w-auto px-2 py-2 text-center">
                <i class="fas fa-file-excel"></i> Export
            </a>&nbsp;
            <input class="h-9 w-80 bg-white text-gray-600 border border-gray-300 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-600 text-sm font-normal"
                type="text" id="myInputTextField" placeholder="Search here...">
        </div>
    </div>

    <div class="py-2 px-4 sm:px-4 lg:px-4">
        {% if messages %}
            {% for message in messages %}
                <div class="bg-teal-100 rounded-b text-teal-900 px-4 sm:px-4 lg:px-4 py-3 my-1" role="alert">
                    <div class="flex">
                        <div>
                            <p class="text-sm font-normal">{{ message }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="table-responsive px-4 sm:px-4 lg:px-4 pb-3 h-full overflow-hidden">
        <table id="datatable" width="100%"
            class="table border table-striped table-bordered dt-responsive compact nowrap text-sm">
        </table>
    </div>

</main>

<script language="javascript">
    $(document).ready(function () {
        AjaxDatatableViewUtils.initialize_table(
            $('#datatable'),
            "{% url 'u_list' %}",
            {
                processing: false,
                autoWidth: false,
                full_row_select: false,
                scrollX: false,
                dom: 'rtip'
            }, {
            // extra_data
        },
        );

        $('#myInputTextField').keyup(function () {
            tt = $('#datatable').DataTable();
            tt.search($(this).val()).draw()
        });
    });
</script>

{% endblock %}

{% block extrajs %}

<script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>

{% endblock %}

{% block extrastyle %}
<link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet" />
<link href="http://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" />
{% endblock extrastyle %}

{% block get_contents %}
<script>
    function getContents() {}
</script>
{% endblock %}