{% load filters %}

<div class="border-b pb-2">
    <div class="flex justify-between px-5 text-gray-600">
        <div class="text-md font-medium text-gray-700">
            Rumor Information
        </div>
        <div class="flex space-x-2 text-xs">
            <button class="flex border rounded-sm px-1 py-1 bg-gray-200 hover:bg-gray-300" @click="eModal='setEvent'">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <p class="text-gray-700 font-medium"> Set as Alert</p>
            </button>

            <button class="flex border rounded-sm px-1 py-1 bg-gray-200 hover:bg-gray-300"
                @click="eModal='attachEvent'">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13" />
                </svg>
                <p class="text-gray-700 font-medium"> Attach to Alert</p>
            </button>
            <button class="flex border-0 rounded-sm px-1 py-1 bg-red-600 hover:bg-red-500" @click="sidebarOpen = false">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="white">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                </svg>
            </button>
        </div>
    </div>
</div>

<div class="h-full overflow-y-auto px-5 text-sm">
    <template x-if="eModal=='showRumor'">
        <div class="pr-5">
            <p class="mt-4 text-gray-700 text-sm font-medium">Description</p>
            <div class="">
                {% for k, v in signal.contents.items %}
                <div class="flex">
                    <p class="font-normal text-gray-600">: {{v}}</p>
                </div>
                {% endfor %}
            </div>

            <p class="mt-4 text-gray-700 text-sm font-medium">Received On</p>
            <p class="font-normal text-gray-600">{{signal.created_on}}</p>

            <p class="mt-4 text-gray-700 text-sm font-medium">Contact </p>
            <p class="font-normal text-gray-600">{{signal.contact}}</p>

            <p class="mt-4 text-gray-700 text-sm font-medium">Channel </p>
            <p class="font-normal text-gray-600">{{signal.channel}}</p>

            <p class="mt-4 text-gray-700 text-sm font-medium">Relevance </p>
            <p class="font-normal text-gray-600">{{signal.relevance}}</p>
        </div>
    </template>

    <template x-if="eModal=='setEvent'">
        <div id="setEvent_wrp" class="text-xs pr-5 mt-2" x-init="initjq()">
            <form class="flex flex-col text-xs" hx-post="{% url 'add_event' %}" hx-target="#setEvent_wrp"
                hx-indicator="#spinner">
                <input type="hidden" name="signal" value="{{sig_id}}" />

                <div role="status" id="spinner" class="htmx-indicator">
                    <svg aria-hidden="true"
                        class="inline w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-green-500"
                        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                            fill="currentColor" />
                        <path
                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                            fill="currentFill" />
                    </svg>
                    <span class="sr-only">Loading...</span>
                </div>

                <p class="mt-3 mb-1 font-medium">Title</p>
                <input type="text" class="text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100"
                    name="title" placeholder="Write alert title..." required />

                <p class="mt-3 mb-1 font-medium">Description</p>
                <textarea id="textarea" name="description"
                    class="text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100" maxlength="225"
                    rows="3" placeholder="Write description...." required></textarea>

                <p class="mt-3 mb-1 font-medium">Alert Type</p>
                <select class="text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100" id="alert_id"
                    name="alert_id" aria-label="Alert" required>
                    <option value="">Select</option>
                    {% for alert in alerts %}
                        <option value="{{alert.id}}">{{alert.reference}} : {{alert.label}}</option>
                    {% endfor %}
                </select>

                <p class="mt-3 mb-1 font-medium">Location</p>
                <select x-ref="location"
                    class="get_location text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100"
                    id="location_id" name="location_id" required></select>

                <p class="mt-3 mb-1 font-medium">Primary Sector</p>
                <select x-ref="pri_sector"
                    class="text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100" name="pri_sector_id"
                    id="pri_sector_id" data-placeholder="Choose ..." required>
                    <option value="">Select</option>
                    {% for sector in sectors %}
                    <option value="{{sector.id}}">{{sector.title}}</option>
                    {% endfor %}
                </select>

                <!-- <p class="mt-3 mb-1 font-medium">Involved Sectors</p>
                <select x-ref="sectors"
                    class="select2 select2-multiple text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100 multiple"
                    name="sector_ids" id="sector_ids" multiple="multiple" data-placeholder="Choose sectors..."
                    x-model="new_event.sector" required>
                    {% for sector in sectors %}
                    <option value="{{sector.id}}">{{sector.title}}</option>
                    {% endfor %}
                </select> -->

                <!-- <p class="mt-3 mb-1 font-medium">Contact Person</p>
                <input type="text" class="text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100"  name="contact_name" required/> -->

                <!-- <p class="mt-3 mb-1 font-medium">Profession</p>
                <select class="text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100" id="profession" name="contact_prof" aria-label="Profession"  name="contact_prof" required>
                    <option value="">Select</option>
                    {% for v, t in profession %}
                        <option value="{{v}}">{{t}}</option>
                    {% endfor %}
                </select> -->

                <!-- <p class="mt-3 mb-1 font-medium">Phone Number</p>
                <input class="text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100 input-mask" data-inputmask="'mask': '+255-999-999-999'" im-insert="true" type="text"  name="contact_phone" />
                    
                <p class="mt-3 mb-1 font-medium">Email</p>
                <input class="text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100" type="email" class=""  name="contact_email"/>      -->

                <div class="flex space-x-3 justify-end mt-3 mb-6">
                    <button class="text-white text-sm font-medium px-4 py-2 rounded-sm bg-red-600 hover:bg-red-500"
                        @click="eModal = 'showRumor'">Cancel</button>
                    <button type="submit"
                        class="text-white text-sm font-medium px-4 py-2 rounded-sm bg-slate-700 hover:bg-slate-800 "
                        x-text="eventFormEl.label" :disabled="eventFormEl.loading"></button>
                </div>
            </form>
        </div>
    </template>

    <template x-if="eModal=='attachEvent'">
        <div id="attachEvent_wrp">
            <div class="flex rounded p-1 bg-gray-100 border border-gray-300 hover:bg-gray-200 my-4">
                <input x-ref="searchEvent" x-model="searchEvent"
                    x-on:keydown.window.prevent.slash="$refs.searchEvent.focus()" placeholder="Search alert..."
                    type="text"
                    class="bg-transparent w-full border-0 text-sm py-1 px-2 outline-none mr-2 border-transparent focus:border-transparent focus:ring-0" />
                <div class="pt-1 px-2">
                    <div x-show="searchEvent.length == 0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                    </div>
                    <div x-show="searchEvent.length > 0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 hover:bg-gray-300" viewBox="0 0 20 20"
                            fill="currentColor" @click="searchEvent=''">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>
            </div>

            <ul class="divide-y border text-base">
                <template x-for="(event, index) in filteredEvents" :key="index">
                    <li class="p-2 flex justify-between hover:bg-gray-100 space-x-3">
                        <div class="flex flex-col text-xs">
                            <p class="hover:cursor-pointer" x-text="event.title"></p>
                            <p class="font-light" x-text="event.status+' '+event.location+' '+event.created_on"></p>
                        </div>
                        <button class="bg-gray-100 border text-gray-600 hover:bg-emerald-800 hover:text-white  text-xs font-medium px-2 py-0 rounded-sm" @click="attachSignal(event)">Attach</button>
                    </li>
                </template>
            </ul>

            <!--Footer-->
            <div class="flex justify-end pt-2">
                <button class="text-white text-xs py-2 px-3 mr-2 rounded-sm bg-red-600 hover:bg-red-500 "
                    @click="eModal='showRumor'">Close</button>
            </div>
        </div>
    </template>
</div>