{% load filters %}

<div class="border-b pb-2">
    <div class="flex justify-between px-5 text-gray-600">
        <div class="text-md font-medium text-gray-700">
            Rumor Information
        </div>
        <div class="flex space-x-2 text-xs">
            <button class="flex border rounded-sm px-1 py-1 bg-gray-200 hover:bg-gray-300" @click="eModal='setEvent'">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <p class="text-gray-700 font-medium"> Create New Alert</p>
            </button>

            <button class="flex border rounded-sm px-1 py-1 bg-gray-200 hover:bg-gray-300"
                @click="eModal='attachEvent'">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13" />
                </svg>
                <p class="text-gray-700 font-medium"> Attach to Alert</p>
            </button>
            <button class="flex border-0 rounded-sm px-1 py-1 bg-red-600 hover:bg-red-500" @click="sidebarOpen = false">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="white">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                </svg>
            </button>
        </div>
    </div>
</div>

<div class="h-full overflow-y-auto px-5 text-sm">
    <template x-if="eModal=='showRumor'">
        <div id="showRumor_wrp" class="mt-4 px-2">
            <p class="text-gray-700 text-sm font-medium">Description</p>
            <div class="mb-2">
                {% for k, v in signal.contents.items %}
                {% if k == 'text' %}
                <p class="font-normal text-gray-600 text-sm py-1">Description:
                    <span class="italic">
                        {{ v }}
                    </span>
                </p>
                {% endif%}

                {% if k == 'date' %}
                <p class="font-normal text-gray-600 text-sm py-1">Occurance date:
                    <span class="italic">
                        {{ v }}
                    </span>
                </p>
                {% endif%}
                {% endfor %}

                <p class="font-normal text-gray-600 text-sm py-1">Relevance:
                    <span class="italic">
                        {{signal.relevance}}
                    </span>
                </p>

                <p class="font-normal text-gray-600 text-sm py-1">Channel:
                    <span class="italic">
                        {{signal.channel}}
                    </span>
                </p>
            </div>

            <div class="mb-2">
                {% if signal.region %}
                <p class="font-normal text-gray-600 text-sm py-1">Region:
                    <span class="italic">
                        {{ signal.region.title }}
                    </span>
                </p>
                {% endif %}

                {% if signal.district %}
                <p class="font-normal text-gray-600 text-sm py-1">District:
                    <span class="italic">
                        {{ signal.district.title }}
                    </span>
                </p>
                {% endif %}

                {% if signal.ward %}
                <p class="font-normal text-gray-600 text-sm py-1">Ward:
                    <span class="italic">
                        {{ signal.ward.title }}
                    </span>
                </p>
                {% endif %}

                {% if signal.village %}
                <p class="font-normal text-gray-600 text-sm py-1">Village:
                    <span class="italic">
                        {{ signal.village.title }}
                    </span>
                </p>
                {% endif %}

                {% for k, v in signal.contents.items %}
                    {% if k == 'street' %}
                    <p class="font-normal text-gray-600 text-sm py-1">Street/Popular Place:
                        <span class="italic">
                            {{ v }}
                        </span>
                    </p>
                    {% endif%}
                {% endfor %}
            </div>

            <div class="mb-2">
                <p class="font-normal text-gray-600 text-sm py-1">Received On:
                    <span class="italic">
                        {{signal.created_on}}
                    </span>
                </p>

                <p class="font-normal text-gray-600 text-sm py-1">Contact:
                    <span class="italic">
                        {{signal.contact}}
                    </span>
                </p>

                {% if signal.status == 'CONFIRMED' %}
                <p class="font-normal text-gray-600 text-sm py-1">Status:
                    <span class="italic">
                        {{signal.status}}
                    </span>
                </p>

                <p class="font-normal text-gray-600 text-sm py-1">Confirmed By:
                    <span class="italic">
                        {{signal.confirmed_by.first_name}} {{signal.confirmed_by.last_name}}
                    </span>
                </p>

                <p class="font-normal text-gray-600 text-sm py-1">Confirmed On:
                    <span class="italic">
                        {{signal.confirmed_on}}
                    </span>
                </p>
                {% endif %}

                {% if signal.status == 'DISCARDED' %}
                <p class="font-normal text-gray-600 text-sm py-1">Status:
                    <span class="italic">
                        {{signal.status}}
                    </span>
                </p>

                <p class="font-normal text-gray-600 text-sm py-1">Discarded By:
                    <span class="italic">
                        {{signal.confirmed_by.first_name}} {{signal.confirmed_by.last_name}}
                    </span>
                </p>

                <p class="font-normal text-gray-600 text-sm py-1">Discarded On:
                    <span class="italic">
                        {{signal.confirmed_on}}
                    </span>
                </p>
                {% endif %}
            </div>


            <div class="flex space-x-2 text-xs mt-4">
                <button class="flex border-none rounded-sm px-3 py-2 bg-green-600 hover:bg-green-800"
                    x-on:click="confirmRumor()">
                    <p class="text-white font-medium"> Confirm Alert</p>
                </button>

                <button class="flex border-none rounded-sm px-3 py-2 bg-red-600 hover:bg-red-800"
                    x-on:click="discardRumor()">
                    <p class="text-white font-medium"> Discard Alert</p>
                </button>

            </div>
        </div>
    </template>

    <template x-if="eModal=='setEvent'">
        <div id="setEvent_wrp" class="text-xs pr-5 mt-2" x-init="initjq()">
            <form class="flex flex-col text-xs" @submit.prevent="submitForm">
                {% csrf_token %}

                <input type="hidden" name="rumor_id" x-model="formData.rumor_id" />

                <p class="mt-3 mb-1 font-medium">Title <span class="text-red-600">*</span></p>
                <input type="text" class="text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100"
                    name="title" x-model="formData.title" placeholder="Write alert title..." required />

                <p class="mt-3 mb-1 font-medium">Description <span class="text-red-600">*</span></p>
                <textarea id="textarea" name="description" x-model="formData.description"
                    class="text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100" maxlength="225"
                    rows="3" placeholder="Write description...." required></textarea>

                <div class="flex flex-row mb-3">
                    <div class="w-64 mr-2" x-init="fetchAlertTypes();">
                        <p class="mt-3 mb-1 font-medium">Alert Type <span class="text-red-600">*</span></p>
                        <select class="w-full text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100"
                            name="alert_id" x-model="formData.alert_id" required>
                            <option value="">Select</option>
                            <template x-for="(alert_type, index) in alert_types" :key="index">
                                <option x-bind:value="alert_type.id"><span
                                        x-text="alert_type.reference + ' : ' + alert_type.label"></span></option>
                            </template>
                        </select>
                    </div>

                    <div class="w-64" x-init="fetchSectors();">
                        <p class="mt-3 mb-1 font-medium">Primary Sector <span class="text-red-600">*</span></p>
                        <select class="w-full text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100"
                            name="pri_sector_id" x-model="formData.pri_sector_id" required>
                            <option value="">Select</option>
                            <template x-for="(sector, index) in sectors" :key="index">
                                <option x-bind:value="sector.id"><span x-text="sector.title"></span></option>
                            </template>
                        </select>
                    </div>
                </div>

                <div class="flex flex-row" x-init="fetchRegions();">
                    <div class="w-64 mr-2">
                        <p class="mt-3 mb-1 font-medium">Region <span class="text-red-600">*</span></p>
                        <select name="region_id" x-model="formData.region_id" x-on:change="onRegionChange"
                            class="w-full text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100"
                            required>
                            <option value="">Select</option>
                            <template x-for="(region, index) in regions" :key="index">
                                <option x-bind:value="region.id"><span x-text="region.title"></span></option>
                            </template>
                        </select>
                    </div>

                    <div class="w-64">
                        <p class="mt-3 mb-1 font-medium">District <span class="text-red-600">*</span></p>
                        <select name="district_id" x-model="formData.district_id" x-on:change="onDistrictChange"
                            class="w-full text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100"
                            required>
                            <option value="">Select</option>
                            <template x-for="(district, index) in districts" :key="index">
                                <option x-bind:value="district.id"><span x-text="district.title"></span></option>
                            </template>
                        </select>
                    </div>
                </div>

                <div class="flex flex-row">
                    <div class="w-64 mr-2">
                        <p class="mt-3 mb-1 font-medium">Ward</p>
                        <select id="ward_id" name="ward_id" x-model="formData.ward_id" x-on:change="onWardChange"
                            class="w-full text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100">
                            <option value="">Select</option>
                            <template x-for="(ward, index) in wards" :key="index">
                                <option x-bind:value="ward.id"><span x-text="ward.title"></span></option>
                            </template>
                        </select>
                    </div>

                    <div class="w-64">
                        <p class="mt-3 mb-1 font-medium">Village</p>
                        <select name="village_id" x-model="formData.village_id"
                            class="w-full text-sm rounded-sm text-gray-600 border border-gray-300 hover:bg-gray-100">
                            <option value="">Select</option>
                            <template x-for="(village, index) in villages" :key="index">
                                <option x-bind:value="village.id"><span x-text="village.title"></span></option>
                            </template>
                        </select>
                    </div>
                </div>

                <div class="flex space-x-2 justify-start mt-3 mb-6">
                    <button
                        class="text-white text-sm font-normal bg-red-500 hover:bg-red-400 rounded-sm w-full sm:w-auto px-4 py-2 text-center"
                        @click="eModal = 'showRumor'">Cancel</button>
                    <button type="submit"
                        class="text-white text-sm font-normal bg-slate-700 hover:bg-slate-800 rounded-sm w-full sm:w-auto px-4 py-2 text-center"
                        x-bind:disabled="formLoading" x-text="buttonText"></button>
                </div>

                <div x-text="formMessage"></div>
            </form>
        </div>
    </template>

    <template x-if="eModal=='attachEvent'">
        <div id="attachEvent_wrp">
            <div class="flex rounded p-1 bg-gray-100 border border-gray-300 hover:bg-gray-200 my-4">
                <input x-ref="searchEvent" x-model="searchEvent"
                    x-on:keydown.window.prevent.slash="$refs.searchEvent.focus()" placeholder="Search alert..."
                    type="text"
                    class="bg-transparent w-full border-0 text-sm py-1 px-2 outline-none mr-2 border-transparent focus:border-transparent focus:ring-0" />
                <div class="pt-1 px-2">
                    <div x-show="searchEvent.length == 0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                    </div>
                    <div x-show="searchEvent.length > 0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 hover:bg-gray-300" viewBox="0 0 20 20"
                            fill="currentColor" @click="searchEvent=''">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>
            </div>

            <ul class="divide-y border text-base">
                <template x-for="(event, index) in filteredEvents" :key="index">
                    <li class="flex justify-between p-2 hover:bg-gray-100 space-x-3">
                        <div class="flex flex-col text-sm">
                            <p class="hover:cursor-pointer" x-text="event.title"></p>
                            <p>Location :
                                <template x-if="event.region != undefined">
                                    <span class="font-medium text-xs" x-text="event.region"></span>
                                </template>

                                <template x-if="event.district != undefined">
                                    <span class="font-medium text-xs" x-text="',' + event.district"></span>
                                </template>

                                <template x-if="event.ward != undefined">
                                    <span class="font-medium text-xs" x-text="',' + event.ward"></span>
                                </template>
                            </p>
                            <p>Date Occured : <span class="font-medium text-xs" x-text="event.created_on"></span></p>
                        </div>

                        <div class="align-items-center mt-4">
                            <button
                                class="bg-gray-100 border text-gray-600 hover:bg-emerald-800 hover:text-white text-xs font-medium px-2 py-2 rounded-sm"
                                @click="attachSignal(event)">Attach</button>
                        </div>

                    </li>
                </template>
            </ul>

            <!--Footer-->
            <div class="flex justify-end pt-2">
                <button class="text-white text-xs py-2 px-3 mr-2 rounded-sm bg-red-600 hover:bg-red-500 "
                    @click="eModal='showRumor'">Close</button>
            </div>
        </div>
    </template>
</div>