{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% load filters %}

{% block contents %}

<div class="d-flex">
    <div class="sig_filters_wrp p-1">
        <div class="card bg-secondary text-white-50 m-1 my-2">
            <div class="card-body">
                <h6 class="mt-0 mb-1 text-white"><i class="mdi mdi-alert-outline me-3"></i>Today</h6>
                <p class="card-text">332 signals.</p>
            </div>
        </div>
        <div class="card bg-secondary text-white-50 m-1 my-2">
            <div class="card-body">
                <h6 class="mt-0 mb-1 text-white"><i class="mdi mdi-alert-outline me-3"></i>Last Week</h6>
                <p class="card-text">332 signals.</p>
            </div>
        </div>
        <div class="card bg-secondary text-white-50 m-1 my-2">
            <div class="card-body">
                <h6 class="mt-0 mb-1 text-white"><i class="mdi mdi-alert-outline me-3"></i> > 5</h6>
                <p class="card-text">332 signals.</p>
            </div>
        </div>
        <div class="card bg-secondary text-white-50 m-1 my-2">
            <div class="card-body">
                <h6 class="mt-0 mb-1 text-white"><i class="mdi mdi-alert-outline me-3"></i> > 1</h6>
                <p class="card-text">332 signals.</p>
            </div>
        </div>
        <div class="card bg-secondary text-white-50 m-1 my-2">
            <div class="card-body">
                <h6 class="mt-0 mb-1 text-white"><i class="mdi mdi-alert-outline me-3"></i> Relevance 0 </h6>
                <p class="card-text">332 signals.</p>
            </div>
        </div>
        <div class="card bg-secondary text-white-50 m-1 my-2">
            <div class="card-body">
                <h6 class="mt-0 mb-1 text-white"><i class="mdi mdi-alert-outline me-3"></i>All</h6>
                <p class="card-text">332 signals.</p>
            </div>
        </div>
    </div>

    <div class="sig_list_wrp ">
            <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                <thead>
                    <tr>
                        <th >Content</th>
                        <th style="width:50px;"><i class="bx bx-info-circle"></i></th>
                    </tr>
                </thead>
                <tbody>
                {% for signal in signals %}
                    <tr>
                        <td>
                            <div class="d-flex sig_item_wrp" sid="{{signal.id}}">
                                <div class="sig_item_content">
                                    <div>{{signal.contents.text}}</div>
                                    <div>
                                        <span class="{{signal.css_icon}}"></span>
                                        <small> {{signal.channel}} </small>
                                        <small> {{signal.contact}} </small>
                                        <small> {{signal.created_on}} </small>
                                        <small> {{signal.status}} </small>
                                    </div>
                                </div>
                                <div class="sig_item_options_wrp">
                                    <div class="sig_item_options p-1">
                                        <i class="bx bx-trash ds"></i>
                                        <i class="bx bx-right-top-arrow-circle wos"></i>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{signal.relevance}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>

    <div class="evn_att_wrp">
        <div id="event_content"></div>
    </div>

</div>






{% endblock %}

{% block custom_css %}

<style>
.sig_filters_wrp{
    width: 150px;
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

.sig_list_wrp{
    width: 50vw;
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

.evn_att_wrp{
    width: calc(50vw - 150px);
    height: calc(100vh - 80px);
    overflow-y: scroll;
}


.sig_item_wrp{
    min-height: 50px;
}
.sig_item_wrp:hover .sig_item_options{
    display: block;
}

.sig_item_content{
    width: calc(100% - 70px);
}
.sig_item_options_wrp{
    width: 70px;
    font-size: 1.5em;
    font-weight: 100;
    color: #777;
}
.sig_item_options{
    display: none;
}

</style>
{% endblock %}



{% block offcanvas %}


{% endblock %}

{% block custom_js %}
<script>
    
$(document).ready(function() {
    
    $(document).on('click', '.wos',function (event) {
        event.preventDefault();

        var sid     = $(this).closest('.sig_item_wrp').attr('sid')
        var url     = window.location.origin + '/ems/utils/ps?sid='+sid;
            
        var jqXHR = $.ajax({
            type: "GET",
            url: url,
        }).done(function (data) {
            //alert(data)
            $('#event_content').html(data);

        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert('Failed to update progress');
            if (console && console.log) {
                console.log("Loading Ajax: " + textStatus + ", " + errorThrown);
            }
        });

    });

    $(document).on('click', '.ds',function (event) {
        event.preventDefault();

        var sid     = $(this).closest('.sig_item').attr('sid')
        var url     = window.location.origin + '/ems/utils/ds?sid='+sid;
            
        var jqXHR = $.ajax({
            type: "GET",
            url: url,
        }).done(function (data) {
            //alert(data)
            $(this).closest('.sig_item').remove()

        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert('Failed to update progress');
            if (console && console.log) {
                console.log("Loading Ajax: " + textStatus + ", " + errorThrown);
            }
        });
    });

});

</script>

{% endblock %}