{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% load filters %}
{% block heading %} Dashboard {% endblock %}

{% block contents %}

<p class="pl-5 mt-5 text-2xl"> Dashboard </p>

<div class="d-flex  my-2">
    <div class="flex flex-wrap">
        <div class="w-full md:w-1/4 xl:w-1/4 p-4">
            <!--Metric Card-->
            <div class="bg-white border rounded p-4">
                <div class="flex flex-row items-center">
                    <div class="flex-shrink pr-4">
                        <div class="rounded p-3 bg-blue-900">
                            <i class="fa fa-notes-medical fa-2x fa-fw fa-inverse"></i>
                        </div>
                    </div>
                    <div class="flex-1 text-right md:text-center">
                        <h5 class="font-medium text-gray-600">Total Signals</h5>
                        <h3 class="font-bold text-2xl">{{ no_of_signals|default:0|intcomma }}</h3>
                    </div>
                </div>
            </div>
            <!--/Metric Card-->
        </div>

        <div class="w-full md:w-1/4 xl:w-1/4 p-4">
            <!--Metric Card-->
            <div class="bg-white border rounded p-4">
                <div class="flex flex-row items-center">
                    <div class="flex-shrink pr-4">
                        <div class="rounded p-3 bg-blue-600">
                            <i class="fa fa-notes-medical fa-2x fa-fw fa-inverse"></i>
                        </div>
                    </div>
                    <div class="flex-1 text-right md:text-center">
                        <h5 class="font-medium text-gray-600">New Signals</h5>
                        <h3 class="font-bold text-2xl">{{ no_of_new_signals|default:0|intcomma }}</h3>
                    </div>
                </div>
            </div>
            <!--/Metric Card-->
        </div>

        <div class="w-full md:w-1/4 xl:w-1/4 p-4">
            <!--Metric Card-->
            <div class="bg-white border rounded p-4">
                <div class="flex flex-row items-center">
                    <div class="flex-shrink pr-4">
                        <div class="rounded p-3 bg-red-600">
                            <i class="fa fa-notes-medical fa-2x fa-fw fa-inverse"></i>
                        </div>
                    </div>
                    <div class="flex-1 text-right md:text-center">
                        <h5 class="font-medium text-gray-600">Discarded Signals</h5>
                        <h3 class="font-bold text-2xl">{{ no_of_discarded_signals|default:0|intcomma }}</h3>
                    </div>
                </div>
            </div>
            <!--/Metric Card-->
        </div>

        <div class="w-full md:w-1/4 xl:w-1/4 p-4">
            <!--Metric Card-->
            <div class="bg-white border rounded p-4">
                <div class="flex flex-row items-center">
                    <div class="flex-shrink pr-4">
                        <div class="rounded p-3 bg-green-600">
                            <i class="fa fa-notes-medical fa-2x fa-fw fa-inverse"></i>
                        </div>
                    </div>
                    <div class="flex-1 text-right md:text-center">
                        <h5 class="font-medium text-gray-600">Approved Signals</h5>
                        <h3 class="font-bold text-2xl">{{ no_of_success_signals|default:0|intcomma }}</h3>
                    </div>
                </div>
            </div>
            <!--/Metric Card-->
        </div>
    </div>

    <div class="flex flex-row flex-wrap flex-grow mt-2">
        <div class="w-full md:w-1/2 p-4">
            <!--Graph Card-->
            <div class="bg-white border rounded">
                <div class="border-b p-3">
                    <h5 class="font-medium uppercase text-gray-600">Notified signals per channel</h5>
                </div>

                <div class="p-2">
                    <div id="channel-rate-chart" class="apex-charts" dir="ltr"></div>
                </div>
            </div>
        </div>

        <div class="w-full md:w-1/2 p-4">
            <!--Graph Card-->
            <div class="bg-white border rounded">
                <div class="border-b p-3">
                    <h5 class="font-medium uppercase text-gray-600">Signal percentage rates</h5>
                </div>

                <div class="p-2">
                    <div id="pending-approve-chart" class="apex-charts"></div>
                </div>

                <div class="text-center text-muted">
                    <div class="flex flex-row flex-wrap flex-grow">
                        <div class="w-full md:w-1/2">
                            <div class="mt-2">
                                <p class="mb-1">
                                    <i class="fa fa-circle text-red-500"></i> Discarded
                                </p>
                                <h5>{{ no_of_discarded_signals }}</h5>
                            </div>
                        </div>

                        <div class="w-full md:w-1/2">
                            <div class="mt-2">
                                <p class="mb-1">
                                    <i class="fa fa-circle text-green-500"></i> Approved
                                </p>
                                <h5>{{ no_of_success_signals }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block get_contents %}
<script src="{% static 'libs/popper/popper.min.js' %}"></script>
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>

<!-- apexcharts -->
<script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>

<!-- Saas dashboard init -->
<script src="{% static 'js/charts/dashboard.js' %}"></script>
{% endblock %}